body {
    overflow: hidden;
    background: url('../img/background.jpg') left top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#bg2 {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
}

#bg2 img {
    width: 100%;
    height: 100%;
}

.center img,
.input-center {
    display: block;
    margin-left: auto;
    height: 100%;
    margin-right: auto;
}

#company_logo {
    padding-top: 30px;
    width: 100%;
    height: 140px;
}

#event_title {
    padding-top: 40px;
    width: 100%;
    height: 70px;
}

#slot {
    padding-top: 40px;
    width: 100%;
    height: 260px;
    text-align: center;
}

#slot-image {
    position: absolute;
    margin-top: 145px;
    height: 286px;
    width: 360px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    max-height: 100%;
}

#slot-image img {
    position: relative;
}

#slot-numbers {
    position: absolute;
    margin-top: 145px;
    height: 86px;
    width: 350px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    max-height: 100%;
}

.unit {
    position: relative;
    margin-left: 33.5px;
}

#arm {
    margin-top: 70px;
    outline: none;
}

.btn-draw {
    padding-top: 50px;
    background: url('../img/button.png') no-repeat;
    border: none;
    width: 165px;
    height: 50px;
    outline: none;
}

.btn-draw:hover {
    background: url('../img/button-hover.png') no-repeat;
}

.btn-draw:active {
    transform: translateY(4px);
}